<section class="user_info">
  <h1>
    <%= gravatar_for @user, size: Settings.gravatar.large_size %>
    <%= @user.name %>
  </h1>
  <h5>
    <%= t "learned" %> 
    <%= Lesson.total_learned @user %>
    <%= t "words" %>
  </h5>
</section>
